/* body {
  background: #f0f2f5 !important;
} */

.nav {
  background: #5964e0;
}

.header {
  height: 80vh;
  flex-direction: column;
  /* color: #000000; */
  position: relative;
}

.over {
  background: #0000008a;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  background: url("./assets/bg1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff !important;
}

h1 {
  font-weight: 900;
  color: #ffffff;
  cursor: pointer;
  font-size: 2.5rem !important;
}

.sec p {
  font-size: 1rem;
  font-weight: 700;
  color: #1a2e46 !important;
}

header p {
  color: #ffffff !important;
}

.nav-link {
  color: #ffffff !important;
}

.header-content {
  z-index: 2;
  text-align: center;
  color: #1a2e46 !important;
}

.landing-btn {
  padding: 18px 48px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  background: #5964e0;
  color: #ffffff;
  border: none;
}

.landing-btn:hover {
  background: #939bf4;
}

/* Categories Section */

.sec {
  text-align: center;
  padding: 25px 0;
}

.sec-header {
  color: #5964e0;
  font-weight: 800;
  font-size: 2rem;
}

.section-description {
  font-size: 1rem;
  color: #1a2e46 !important;
}

.categories-container {
  min-height: 200px;
  width: 300px;
  margin: 0 auto;
  flex-direction: column;
  font-weight: 900;
  font-size: 1.3rem;
  color: #1a2e46 !important;
}

.categories-icon {
  font-size: 3rem;
  display: block;
  color: #939bf4;
  margin: 0 0 10px;
}

.categories-icon:hover {
  color: #5964e0;
}

.steps {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1a2e46 !important;
}

.steps h3 {
  font-size: 2rem;
  color: #1a2e46 !important;
  font-weight: 700;
}

.step-icon {
  font-size: 2.5rem;
  margin: 10px 0;
  color: #939bf4;
}

.step-icon:hover {
  color: #5964e0;
}

/* Footer Section */

.footer {
  min-height: 200px;
  background: #5964e0;
  color: #ffffff;
  flex-direction: column;
}

.myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background: #939bf4;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.myBtn:hover {
  background: #5964e0;
}

.sec .row {
  margin: 0 !important;
}

.sub-sec {
  justify-content: space-between !important;
  padding: 0 50px;
  height: 25%;
  width: 100%;
  margin: 10px 0;
}

.social a {
  font-size: 1.5rem;
  color: #ffffff;
}

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 3.5rem !important;
  }

  .sec p,
  header p {
    font-size: 1.5rem;
  }

  .sec-header {
    font-size: 2.5rem;
  }

  .categories-container,
  .steps {
    font-size: 1.5rem;
  }

  .steps h3 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .step-icon {
    font-size: 4rem;
  }

  .footer {
    font-size: 1.3rem;
  }

  .sub-sec {
    padding: 0 200px;
  }

  .landing-btn {
    font-size: 1.5rem;
  }

  .sub-sec a {
    font-size: 3rem !important;
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem !important;
  }

  .sec p,
  header p {
    font-size: 1.2rem;
  }

  .sub-sec {
    padding: 0 300px;
  }

  .landing-btn {
    font-size: 1.8rem;
  }

  .footer {
    font-size: 1.3rem;
  }

  .sec-header {
    font-size: 2.3rem;
  }

  .categories-container,
  .steps {
    font-size: 1.3rem;
  }

  .steps h3 {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .step-icon {
    font-size: 3.5rem;
  }

  .sub-sec a {
    font-size: 2rem !important;
    color: #ffffff;
  }

  .social a {
    font-size: 1.6rem !important;
  }
}
